.propertyContainer {
  position: relative;
}

.propertyContainer > .modal-dialog {
  position: absolute;
  margin: 0 !important;
  width: max-content !important;
  z-index: 10;
  max-width: initial;
}

.propertyContainer .modal-body {
  overflow-y: auto;
  max-height: 200px;
  min-width: 200px;
}

.propertyContainer .modal-footer {
  display: initial;
}

.propertyContainer .invalid-feedback {
  display: initial;
}
.propertyContainer > .modal-dialog label {
  justify-content: initial;
  display: initial;
}

.chevron {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.editor-chooser {
  width: auto;
}

.objectBody.is-invalid {
  border-color: #dc3545 !important;
}

.objectBody .invalid-feedback {
  display: initial;
}

.symbol {
  vertical-align: baseline;
}

.array-item {
  display: flex;
  align-items: flex-end;
}

.array-item.dragging {
  opacity: 0.5 !important;
  border: medium dashed darkgreen !important;
}

.array-item > button {
  height: fit-content;

}

.move {
  cursor: row-resize !important;
}
